# .tudo.config

TERMUX_FILES="/data/data/com.termux/files"
TERMUX_HOME="$TERMUX_FILES/home"
TERMUX_PREFIX="$TERMUX_FILES/usr"

# Set TUDO_SHELL_HOME which will be used as tudo shell home directory
#TUDO_SHELL_HOME="$TERMUX_HOME" # Default: `$TERMUX_HOME`

# Set TUDO_POST_SHELL_HOME which will be used as tudo post shell home directory
#TUDO_POST_SHELL_HOME="$TERMUX_HOME" # Default: `$TERMUX_HOME`

# Set the prompt string 1 for the tudo shell
#TUDO_SHELL_PS1="Ⲧ " # Default: `Ⲧ ` (U+2CA6, &#x2CA6;, coptic capital letter tau)

# Set the prompt string 1 for the tudo post shell
#TUDO_POST_SHELL_PS1="Ⲧ " # Default: `Ⲧ ` (U+2CA6, &#x2CA6;, coptic capital letter tau)

# Set any additional paths you want to export other than termux bin, android bin and su bin paths,
# separated with colons `:`
# The string must not start or end with or contain two consecutive colons ':'
# The `--export-paths` option will override this value
#TUDO_ADDITIONAL_PATHS_TO_EXPORT="" # Default: ``

# Set to "1" or pass "-L" as argument if you want to automatically export all the paths that already exist
# in the PATH variable at the moment the tudo command is run
# The default paths mentioned above and any path in TUDO_ADDITIONAL_PATHS_TO_EXPORT are always exported
#TUDO_EXPORT_ALL_EXISTING_PATHS_IN_PATH_VARIABLE=0 # Default: `0`

# Set any additional ld library paths you want to export other than termux lib and android lib paths,
# separated with colons `:`
# The string must not start or end with or contain two consecutive colons ':'
# The `--export-ld-lib-paths` option will override this value
#TUDO_ADDITIONAL_LD_LIBRARY_PATHS_TO_EXPORT="" # Default: ``

# Set to "1" or pass "-P" as argument if you want to automatically export all the paths that already exist
# in the LD_LIBRARY_PATH variable at the moment the tudo command is run
# The default paths mentioned above and any path in TUDO_ADDITIONAL_LD_LIBRARY_PATHS_TO_EXPORT are always exported
#TUDO_EXPORT_ALL_EXISTING_PATHS_IN_LD_LIBRARY_PATH_VARIABLE=0 # Default: `0`

# Set to 1 if you want to automatically create rc files for interactive shells, otherwise 0
#TUDO_SHELLS_AUTOMATICALLY_CREATE_RC_FILES=1 # Default: `1`

# Set to 1 if you want to automatically create history files for interactive shells, otherwise 0
#TUDO_SHELLS_AUTOMATICALLY_CREATE_HISTORY_FILES=1 # Default: `1`

# Set to 1 if you want to store command history for interactive shells, otherwise 0
#TUDO_SHELLS_HISTORY_ENABLED=1 # Default: `1`

# Set to "1" if you want to share rc files and history files between normal termux shell
# and tudo shell if TUDO_SHELL_HOME is same as TERMUX_HOME
#TUDO_SHELL_SHARE_RCFILES_AND_HISTFILES=1 # Default: `1`

# Set to "1" if you want to share rc files and history files between normal termux shell
# and tudo post shell if TUDO_POST_SHELL_HOME is same as TERMUX_HOME
#TUDO_POST_SHELL_SHARE_RCFILES_AND_HISTFILES=1 # Default: `1`

# Set to 1 to add path to su binary directory to end of $PATH exported for android paths, otherwise 0.
#TUDO_ADD_SU_BIN_PATH_TO_PATH_VARIABLE=0 # Default: `0`

# Set absolute path for su binary to use instead of searching for it in default search paths.
# This can be used if path is not in search paths or all paths in it should not be checked.
#TUDO_SU_PATH="" # Default: ``
